.dropbtn {
  background-color: #190c25;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 160px;
  justify-content: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a0d2b;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(247, 244, 244);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #2a093a;
}

#rating {
  display: flex;
  justify-content: space-between;
}
#rating > img {
  position: relative;
  align-items: center;
  padding: 8px;
  padding-top: 10px;
}
#rating:hover {
  background-color: rgb(63, 89, 138);
}
#year {
  display: flex;
}
#year > img {
  position: relative;
  align-items: center;
  padding: 8px;
  padding-top: 10px;
}
#year:hover {
  background-color: rgb(63, 89, 138);
}
